<footer class="relief-footer">
<div class="footer-section brand-info">
  <div class="footer-logo">
    <img src="assets/logo.jpg" alt="Relief Logo">
    <span>Relief</span>
  </div>
  <p>Providing professional care management solutions for homes and caregivers.</p>
  
  <div class="social-icons">
    <a href="#" class="social-btn facebook"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#" class="social-btn instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="#" class="social-btn linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="#" class="social-btn twitter"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
  <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-4.714-6.231-5.401 6.231H2.746l7.73-8.835L1.254 2.25H8.08l4.253 5.622 5.911-5.622Zm-1.161 17.52h1.833L7.084 4.126H5.117Z"/>
</svg></a>
  </div>
</div>

    <div class="footer-section contact">
      <h4>Contact Us</h4>
      <p><i class="fa-solid fa-envelope"></i> support@relief.com</p>
      <p><i class="fa-solid fa-phone"></i> +20 123 456 789</p>
    </div>

</footer>

  